<div class="container">
  <div>
    <h1 class="font-text-footer" style="text-align: -webkit-center;">Package List</h1>
    <br>
    <!--++++++++++++++++search++++++++++++++++-->
    <form [formGroup]="packageSearch" (ngSubmit)="searchPackage()" class="mb-3">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mt-3">
            <div class="input-group">
              <span class="input-group-text">Tên sản phẩm</span>
              <select class="form-select me-2" formControlName="productId" style="width: auto">
                <option selected value="">Choose</option>
                <option *ngFor="let product of products" value="{{product.id}}">{{product.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-5 mt-3">
            <div class="input-group">
              <span class="input-group-text">Ngày hết hạn</span>
              <input type="date" class="form-control me-2" placeholder="Ngày hết hạn" formControlName="endDate">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mt-3">
            <div class="input-group">
              <span class="input-group-text">Ngày nhập hàng 1</span>
              <input type="date" class="form-control me-2" placeholder="Ngày sản xuất" formControlName="dateProduct1">
            </div>
          </div>
          <div class="col-md-5 mt-3">
            <div class="input-group">
              <span class="input-group-text">Ngày nhập hàng 2</span>
              <input type="date" class="form-control me-2" placeholder="Ngày sản xuất" formControlName="dateProduct2">
            </div>
          </div>
          <div class="col-md-2 mt-3">
            <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
          </div>
        </div>
      </div>
    </form>
    <br>
    <div class="table-responsive">
      <button type="button" class="btn btn-secondary" routerLink="/package/create">Nhập Hàng</button>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>STT</th>
          <th>Mã lô hàng</th>
          <th>Tên sản phẩm</th>
          <th>Giá tiền</th>
          <th>Đơn vị</th>
          <th>Số lượng</th>
          <th>Ngày nhập hàng</th>
          <th>Ngày sản xuất</th>
          <th>Ngày hết hạn</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let package of packages | paginate: {itemsPerPage: 3, currentPage: page, totalItems: totalLength}; index as i">
          <td>{{i + 1}}</td>
          <td>{{package.idPackage}}</td>
          <td>{{package.product.name}}</td>
          <td>{{package.product.cost}}</td>
          <td>{{package.product.currency}}</td>
          <td>{{package.quantity}}</td>
          <td>{{package.dateProduct|date:"dd/MM/yyyy"}}</td>
          <td>{{package.startDate|date:"dd/MM/yyyy"}}</td>
          <td>{{package.endDate|date:"dd/MM/yyyy"}}</td>
          <td>
            <button type="button" class="btn btn-outline-info" [routerLink]="['/package/update', package.id]">Edit
            </button>
          </td>
          <td>
            <button type="button" (click)="showInfo(package)" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#packageModal">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center align-content-center">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="packageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Xác nhận xoá</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Bạn có chắc chắn xoá thông tin lô hàng {{packageTemp.product.name}} nhập
          ngày {{packageTemp.dateProduct| date:"dd/MM/yyyy"}} ?</h3>
      </div>
      <div class="modal-footer">
        <div style="position: absolute; left: 18px">
          <h6 class="text-danger">Lưu ý! Hành động không thể hoàn tác!</h6>
        </div>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(packageTemp.id)">
          Delete
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

