<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div id="wrapper">
    <nav th:replace="layout :: navtop2"></nav>
    <nav th:replace="layout :: navtop"></nav>
    <div id="page-wrapper" th:fragment="navside-index">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div sec:authorize="isAuthenticated()">
                        <div sec:authorize="hasRole('ROLE_USER')">
                            <form method="get" th:action="@{/employee/create}">
                                <button type="submit" class="btn btn-success" disabled>
                                    <i class="fa fa-plus-square"></i> Create
                                </button>
                            </form>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <form method="get" th:action="@{/employee/create}">
                                <button type="submit" class="btn btn-success">
                                    <i class="fa fa-plus-square"></i> Create
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Gender</th>
                                            <th scope="col">Date Of Birth</th>
                                            <th scope="col">Division</th>
                                            <th scope="col">Position</th>
                                            <th scope="col">Education Degree</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                        <th:block th:each="employee, index : ${employees}">
                                            <tr>
                                                <td th:id="'employeeId' + ${index.index}"
                                                    th:text="${employee.employeeId}"></td>
                                                <td th:id="'employeeName' + ${index.index}"
                                                    th:text="${employee.employeeName}"></td>
                                                <td th:text="${employee.employeeGender.gender}"></td>
                                                <td th:text="${employee.employeeBirthday}"></td>
                                                <td th:text="${employee.division.division_name}"></td>
                                                <td th:text="${employee.position.position_name}"></td>
                                                <td th:text="${employee.educationDegree.education_degree_name}"></td>
                                                <td>
                                                    <div sec:authorize="isAuthenticated()">
                                                        <div sec:authorize="hasRole('ROLE_USER')">
                                                            <form method="get" th:action="@{/employee/edit/__${employee.employeeId}__ }">
                                                                <button type="submit" class="btn btn-primary" disabled>
                                                                    <i class="fa fa-edit"></i> Edit
                                                                </button>
                                                            </form>
                                                        </div>
                                                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                                                            <form method="get" th:action="@{/employee/edit/__${employee.employeeId}__ }">
                                                                <button type="submit" class="btn btn-primary">
                                                                    <i class="fa fa-edit"></i> Edit
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td>
                                                    <div sec:authorize="isAuthenticated()">
                                                        <div sec:authorize="hasRole('ROLE_USER')">
                                                            <button th:onclick="'javascript:employeeSetId(' + ${index.index} + ')'"
                                                                    class="btn btn-danger btnModalDelete" disabled><i
                                                                    class="fa fa-pencil"></i> Delete
                                                            </button>
                                                        </div>
                                                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                                                            <button th:onclick="'javascript:employeeSetId(' + ${index.index} + ')'"
                                                                    class="btn btn-danger btnModalDelete"><i
                                                                    class="fa fa-pencil"></i> Delete
                                                            </button>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td>
                                                    <button class="btn btn-info"
                                                            th:onclick="'javascript:showView(' + ${index.index} + ')'">
                                                        <i class="fa fa-eye"></i> View
                                                    </button>
                                                </td>
                                            </tr>
                                        </th:block>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--        modal delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="exampleModalLabel2">Delete Employee</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="modelId" size="50" disabled style="border: none;background: white; color: red">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" th:onclick="'javascript:submitDelete()'">Delete</button>
            </div>
        </div>
    </div>
</div>
<form th:action="@{/employee/delete}" method="post" id="deleteEmployee">
    <input type="hidden" name="action" value="deleteEmployee">
    <input type="hidden" name="idEmployee" id="idEmployee">
</form>

<!--            modal view-->
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title1 text-center" id="exampleModalLabel">View Employee</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Body
            </div>
        </div>
    </div>
</div>

</body>
<script>

    function showView(index) {
        let id = document.getElementById("employeeId" + index).innerHTML;
        $.ajax({
            type: "GET",
            url: "/employee/view/" + id,
            dataType: "HTML",
            success: function (data) {
                $(".modal-body").html(data);
                $('#viewModal').modal('show');
            }
        })
    }

    function employeeSetId(index) {
        let name = document.getElementById("employeeName" + index).innerHTML;
        let id = document.getElementById("employeeId" + index).innerHTML;
        document.getElementById("idEmployee").value = id;
        document.getElementById("modelId").value = "Do you want delete employee name: " + name;
        $('#deleteModal').modal('show');
    }

    function submitDelete() {
        <!-- để submit form delete  -->
        document.getElementById("deleteEmployee").submit();
        alert("Delete employee successfully");
    }
</script>
</html>
