<nav class="sticky-top">
  <div class="sticky-content row container-fluid m-auto " style="background-color:#0a530e;; color: white ">
    <nav class="navbar navbar-expand-lg  container ">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" href="#">GIỚI THIỆU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LOẠI PHÒNG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ẨM THỰC </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">HỘI NGHỊ VÀ SỰ KIỆN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SPA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">GIẢI TRÍ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ĐIỂM ĐẾN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ƯU ĐÃI</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</nav>
