<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="wrapper">
    <nav th:replace="layout :: navtop2"></nav>
    <nav th:replace="layout :: navtop"></nav>
    <div id="page-wrapper" th:fragment="navside-index">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="section-title">Create Customer</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form th:action="@{/customer/create}"
                                          th:object="${customer}" method="post">
                                        <div class="container ">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form class="form-light mt-20" role="form">
                                                        <div class="form-group">
                                                            <label>ID</label>
                                                            <input th:field="*{customerId}" type="text"
                                                                   class="form-control" placeholder="ID" >
                                                            <label th:if="${#fields.hasErrors('customerId')}" th:errors="*{customerId}" style="color: red"></label>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Name</label>
                                                            <input th:field="*{customerName}" type="text"
                                                                   class="form-control" placeholder="Your name" >
                                                            <label th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" style="color: red"></label>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Birth Day</label>
                                                            <input th:field="*{customerBirthday}" type="date"
                                                                   class="form-control" placeholder="Birth Day" >
                                                            <label th:if="${#fields.hasErrors('customerBirthday')}" th:errors="*{customerBirthday}" style="color: red"></label>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Email</label>
                                                                    <input th:field="*{customerEmail}" type="email"
                                                                           class="form-control"
                                                                           placeholder="Email address" >
                                                                    <label th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}" style="color: red"></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Phone</label>
                                                                    <input th:field="*{customerPhone}" type="text"
                                                                           class="form-control"
                                                                           placeholder="Phone number" >
                                                                    <label th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}" style="color: red"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Gender</label>
                                                                    <select th:field="*{customerGender}"
                                                                            class="form-control" >
                                                                        <option th:each="p : ${gender}"
                                                                                th:value="${p.genderId}"
                                                                                th:text="${p.gender}"></option>
                                                                    </select>
                                                                    <label th:if="${#fields.hasErrors('customerGender')}" th:errors="*{customerGender}" style="color: red"></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Customer type</label>
                                                                    <select class="form-control"
                                                                            th:field="*{customerType}" >
                                                                        <option th:each="p : ${customerType}"
                                                                                th:value="${p.customer_type_id}"
                                                                                th:text="${p.customer_type_name}"></option>
                                                                    </select>
                                                                    <label th:if="${#fields.hasErrors('customerType')}" th:errors="*{customerType}" style="color: red"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>ID Card</label>
                                                            <input th:field="*{customerIDCard}" type="text"
                                                                   class="form-control" placeholder="ID Card" >
                                                            <label th:if="${#fields.hasErrors('customerIDCard')}" th:errors="*{customerIDCard}" style="color: red"></label>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <input th:field="*{customerAddress}" type="text"
                                                                   class="form-control" placeholder="Address" >
                                                            <label th:if="${#fields.hasErrors('customerAddress')}" th:errors="*{customerAddress}" style="color: red"></label>
                                                        </div>
                                                        <!-- <div class="form-group">
                                                        <label>Message</label>
                                                        <textarea class="form-control" id="message" placeholder="Write you message here..."
                                                            style="height:100px;"></textarea>
                                                    </div> -->
                                                        <button type="submit" class="btn btn-success btn-lg">Create</button>
                                                        <p><br/></p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
